.quantityInput {
  display: flex;
}

.quantityInput > button {
  color: white;
  background: #cf9775;
  padding: 4px 15px;
  border: none;
  display: flex;
  align-items: center;
}

.quantityInput > button:first-child {
  border-radius: 100px 0 0 100px;
  padding-left: 20px;
}

.quantityInput > button:last-child {
  border-radius: 0 100px 100px 0;
  padding-right: 20px;
}

.quantityInput > p {
  padding: 0 20px;
  font-size: 1.1rem;
  flex-grow: 1;
  text-align: center;
}

.quantityInput > button > svg {
  fill: #fff;
}

/*
* {
  box-sizing: border-box;
}

.quantityInput {
  display: flex;
  font-family: monospace;
  align-items: center;
}
.btn-minus {
  color: white;
  background: #cf9775;
  font-size: 2rem;
  border-radius: 100px 0 0 100px;
  padding: 0 30px;
  border: none;
  margin: 20px 0;
}

.btn-plus {
  color: white;
  background: #cf9775;
  font-size: 2rem;
  border-radius: 0 100px 100px 0;
  padding: 0 30px;
  border: none;
  margin: 20px 0;
}

.quantityInput > p {
  font-size: 2rem;
  padding: 0 30px;
}
*/
