<div class="fullwidth">
  <nav class="bottomNavigation">
    <a class="bottomNavigation_item">
      <img src="../../assets/home-icon.svg" alt="Home" />
    </a>
    <a class="bottomNavigation_item">
      <img src="../../assets/map-icon.svg" alt="Map" />
    </a>
    <a class="bottomNavigation_item">
      <img src="../../assets/coffeemug-icon.svg" alt="Coffee cup" />
      <span class="bottomNavigation_icon_badge">1</span>
    </a>
    <a class="bottomNavigation_item">
      <img src="../../assets/profile-icon.svg" alt="Profile" />
    </a>
  </nav>
</div>
