/* to dos:
- alle svgs centrieren
- Text in eine Linie bringen
*/

/* .selective = ul */
.selective {
  background-color: #faf4ee;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.selective > li {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.selective > li > p {
  color: #2d140d;
  flex-grow: 1;
  font-size: 1.2rem;
  font-family: "Sen", sans-serif;
  padding: 0 30px;
}

/* .selective > li:hover {
  background-color: #d0ab94;
} */
