.details {
  display: flex;
  flex-wrap: wrap;
}

.details > header {
  flex-basis: 100%;
  background-color: brown;
}

.details > form {
  flex-basis: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.details > form > * {
  padding: 5px 0;
}
